.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.parquet
*.log
*.png
.vscode/
data/

# local data files (keep only on local machine)
*.duckdb
*.db
*.sqlite
data/**/*.csv
data/**/*.duckdb
data/**/*.db
data/**/*.sqlite
